<p style="color: green"><%= notice %></p>

<% content_for :title, t('.title') %>

<h1><%= t('.title') %></h1>

<div id="chats">
  <% @chats.each do |chat| %>
    <%= render chat %>
    <p>
      <%= link_to t('.show_chat'), chat %>
    </p>
  <% end %>
</div>

<%= link_to t('.new_chat'), new_chat_path %>